# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Cache
.cache/

# Ignore similarity files
similarity.json
similarity.pkl
prev_client/